/* intuitivni box-sizing */
html {
  box-sizing: border-box;
  <img srcset="large-img.jpg 800w, middle-img.jpg 640w, small-img.jpg 320w"
  src="small.jpg"
  />
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font: 16px/1.5 sans-serif;
}

.sloupec {
  padding: 30px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  flex: 1 1 100%;

}

.sloupec:nth-child(1) {
  background-color: #3498db;
}

.sloupec:nth-child(2) {
  background-color: #e74c3c;
}

.sloupec:nth-child(3) {
  background-color: #2ecc71;
}

.kontejner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

@media (min-width: 800px) {
  .sloupec {
    flex-basis: 267px;
  }
}


/*
Nastavte CSS pro třídu .kontejner a .sloupec:
- ve výchozím stavu (=mobil) budou obdélníky pod sebou
- na obrazovce širší než 800px budou všechny 3 obdélníky vedle sebe
  a budou roztažené přes celou stránku, všechny budou mít stejnou šířku
*/
